<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="manifest" href="manifest.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
      @media only screen and (min-width:1000px){
        .con{
          width:40% ;
          margin:10px auto;   
        }
      }
      @media only screen and (min-width:700px){
        .con{
          width:60% ;
          margin:10px auto;   
        }
      }
    </style>

    <title>DevTask</title>
</head>
<body class="bg-dark">
<div class="align-middle con">  


                        <table class="table table-hover table-dark" id="DevTaskPlayground">
                            <tbody>
                            <tr>
                                <td class="w-75" colspan="2"><input class="form-control bg-dark text-white" type="text" placeholder="..." v-model="newTask"></td>
                                <td class="w-25 text-center"><button class="bg-success text-white rounded-circle border-0" @click="notLogged('addTask')"><i class="fas fa-plus"></i></button></td>
                            </tr>
                            <tr v-for="(task, index) in tasks" :key="task">
                                <th scope="row">{{index+1}}</th>
                                <td class="w-75">{{task}}</td>
                                <td class="w-25 text-center"><button class="bg-danger text-white rounded-circle border-0" data-toggle="modal" data-target="#taskDeleteModal" @click="setNLTI(index);"><i class="fas fa-minus"></i></button></td>
                                
                                <div class="modal fade" id="taskDeleteModal" tabindex="-1" role="dialog" aria-labelledby="taskDeleteModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Task sil</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body ">
                                          <p>{{task}} Bu işi silmek istediğinizden emin misiniz?</p>
                                            <span class="fw-bold"></span>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                          <button type="button" class="btn btn-danger" data-dismiss="modal" @click="remoteRemove()">Sil</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                            </tr>
                            </tbody>
                        </table>

</div>
<script src="app.js"></script>
</body>
</html>